<h2 class="text-center">O projekcie</h2>
<br/>
<div class="mt-0">
    Wizualizacja danych wyszukiwania z serwisu jakdojade.pl. Projekt obejmował przetworzenie danych 7 milionów
    wyszukiwań zebranych w październiku 2016 we Wrocławiu i przemapowanie ich na odpowiadające im przystanki lub
    dzielnice / osiedla. Mapa przystanków uzyskana dzięki google maps, informacje o osiedlach i granicach miejskich
    Wrocławia uzyskano poprzez open street maps.
</div>
<br/>
<img src="img/jakdojade-logo.png" class="center-block"/>
