<section>
    <div class="container">
        <div class="row text-center">
            <h2>O projekcie</h2>
        </div>
        <div class="row">
            <div class="col-md-12 description">
                <span>Wizualizacja danych wyszukiwania z serwisu jakdojade.pl. Projekt obejmuje przetworzenie danych 7 milionów wyszukiwań, zebranych w październiku 2016 we Wrocławiu, poprzez dopasowanie ich do odpowiadających im przystanków lub dzielnic.</span>
                <span>Dla każdego zapytania, dla lokalizacji początkowej i końcowej, znaleziono najbliższy przystanek początkowy i końcowy, jak również osiedle startowe i docelowe.</span>
                <span>Zwizualizowano te dane w postaci mapy termicznej, mapy najczęściej wyszukiwanych przystanków oraz najczęściej wyszukiwanych dzielnic / osiedli.</span>
            </div>
        </div>
        <div class="row text-center">
            <a href="https://jakdojade.pl" target="_blank">
                <img src="img/logo-color.svg"/>
            </a>
        </div>
    </div>
</section>
<section class="bg-grey">
    <div class="container">
        <h2 class="text-center">Kontakt</h2>
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <img class="media-object img-circle profile-image"
                     src="img/foto.jpg">
            </div>
            <div class="col-md-2">
                <h3 class="media-heading">Jasiek Petryk</h3>
                <div class="card-body-social">
                    <div>
                        <a href="mailto:jasiek.petryk@gmail.com">
                            <div class="google-plus fa fa-envelope-o"></div>
                            <span class="social-text google-plus">E-mail</span>
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/janpetryk/">
                            <div class="linkedin fa fa-linkedin-square"></div>
                            <span class="social-text linkedin">LinkedIn</span>
                        </a>
                    </div>
                    <div>
                        <a href="https://github.com/janpetryk">
                            <div class="fa fa-github git card-body-social"></div>
                            <span class="git social-text" style="font-size: medium;">GitHub</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>
<section>
    <div class="container">
        <h2 class="text-center">Wykorzystane technologie</h2>
        <h4 class="text-center">Przetwarzanie danych</h4>
        <div class="row">
            <div class="col-md-12 description">
                <span>Do przetworzenia danych wykorzystano bazę danych PostgreSQL oraz Spring Boot. </span>
                <span>Mapę przystanków pobrano poprzez Google Maps, informacje o osiedlach i granicach miejskich Wrocławia uzyskano za pomocą Open Street Maps.</span>
            </div>
        </div>
        <h4 class="text-center">Wizualizacja</h4>
        <div class="row">
            <div class="col-md-12 description">
                <span>Do wizualizacji danych użyto podstawowego szablonu Bootstrap, Angulara JS w wersji 1.5.5, Google Map API oraz biblioteki heatmap.js.</span>
            </div>
        </div>
    </div>
</section>

