<h2 class="text-center">O projekcie</h2>
<div class="mt-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam laoreet sapien, sagittis consequat sem
    faucibus et. Praesent velit eros, semper sed volutpat vitae, condimentum eget nulla. Nulla lacinia euismod massa,
    vel sodales arcu finibus non. Nunc ut commodo elit, vehicula bibendum velit. Proin enim dui, placerat et eleifend
    ac, malesuada sed purus. Sed ornare, felis eu facilisis ornare, tortor elit aliquam leo, sit amet ultrices neque
    purus ac nulla. Aenean sit amet mollis augue. Fusce volutpat rhoncus lacus quis varius. Duis et tortor tincidunt,
    blandit ante ut, aliquet urna. Pellentesque ac felis leo.
</div>
<img src="img/jakdojade-logo.png" class="center-block"/>
