<div class="container">
    <div class="col-xs-12 well-lg">
        <md-autocomplete md-selected-item="ctrl.searchBoxSelectedItem"
                         md-search-text="ctrl.searchText"
                         md-selected-item-change="ctrl.selectedItemChange(item, ctrl.searchText)"
                         md-items="item in ctrl.querySearch(ctrl.searchText)"
                         md-item-text="item.stopInformation.name"
                         md-min-length="2"
                         placeholder="Znajdź przystanek" ng-cloak>
            <md-item-template>
                        <span md-highlight-text="ctrl.searchText"
                              md-highlight-flags="^i">{{item.stopInformation.name}}</span>
            </md-item-template>
        </md-autocomplete>
    </div>
    <div class="col-xs-10 text-center">

        <div id="stops-map" class="map-width"></div>
    </div>
    <div class="col-xs-2 text-left well map-width" data-ng-cloak>
        <h4>Przystanek {{ctrl.selectedItem.stopInformation.name}}</h4>
        <h5>Najczęściej wyszukiwane okolice (liczba zapytań)</h5>
        <div data-ng-repeat="result in ctrl.selectedItem.mostFrequentSearchInformationList">
            <span data-ng-cloak>{{result.endStop.name}} ({{result.searchCount}})</span>
        </div>
    </div>
    <div class="col-xs-12 info-container">
        <div class="fa fa-info-circle info-icon"></div>
        <div class="info-desc">
            <span>Do każdego wyszukiwania dopasowany został najbliżej położony startu podróży przystanek początkowy oraz najbliższy celowi podróży przystanek końcowy.</span>
            <br/>
            <span>Tym sposobem każde wyszukiwanie, nawet z konkretnego adresu na konkretny adres, zostało wzięte pod uwagę przy tworzeniu powyższej mapy.</span>
        </div>
    </div>
</div>